body {
    background: #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
}


.nav-top {
    background-color: #ffffff;
    color:  #67533a;
    font-size: 14px;
    
}

.nav-top:hover{
    background-color: #ffffff;
    color:  #7db121;
}

.active-nav-top {
    color: #7db121;
    font-weight: bold;
}

.active-nav-top:hover {
    color: #7db121;
    font-weight: bold;
}

.nav-active-button {
    background: #ffffff;
    border-width: 0;
    border-radius: 3px;
    color:#7db121;
    box-shadow: none;
    
}

.carousel-item {
    text-align: center
  }

  .carousel-caption {
      background-color: rgba(222, 211, 183, 0.3);
    
  }

  .btn-outline-dark:focus {
    box-shadow: none;
  }


  .nav-bottom-1 {
    background-color:#ded3b7
;
    color:#67533a;
    font-size: x-small;

}

.nav-bottom-1 div span {
    
    color:#67533a;
    font-size: small;

}

.logo-social {
    height: 30px;
    width: 30px;
}

.social:hover{
    cursor: pointer;
}




.nav-bottom-2 {
    background-color:#786046;
    color:#ffffff;
    font-size: x-small;

}

.nav-bottom-2 div span {
    
    color:#deb666;
    font-size: small;

}

.carousel-inner {
    max-height: 400px;

}




.img-carousel img {
    width: 100%;
    height: 300px; 
    object-fit: cover; 
    object-position: 50% 50%;
}


.articles {
    color: #786046;
}

.header {
    color:#7db121;
}

.main-image {
    width:312px;
  height:312px;
  object-fit:cover;
  object-position:center;
  margin-bottom: 3px;
}

.card-image-col {
 width:106px;
  height:106px;
}

.card-image {
    width:100px;
  height:100px;
  object-fit:cover;
  margin:3px;
}

.article-col {
    max-width: 106px;
    max-height: 106px;
}
.article-row {
    
    max-height: 106px;
}


.card-title li{
    list-style: none;
    font-size: small;
    font-weight: bold;
    color:#7db121;
}

.card-title-pg-2 li{
    list-style: none;
    font-size: small;
    font-weight: bold;
    color:#7db121;
}

.card-title-pg-3 li{
    list-style: none;
    font-size: small;
    font-weight: bold;
    color:#7db121;
}

.card-title-pg-4 li{
    list-style: none;
    font-size: small;
    font-weight: bold;
    color:#7db121;
}


.card-text {
    font-size:x-small;
    color:black;
    height: 60px;
    overflow:hidden;
    text-overflow:ellipsis;
   
}

.card-text-pg-2 {
    font-size:x-small;
    color:black;
    height: 60px;
    overflow:hidden;
    text-overflow:ellipsis;
   
}

.card-text-pg-3 {
    font-size:x-small;
    color:black;
    height: 60px;
    overflow:hidden;
    text-overflow:ellipsis;
   
}

.card-text-pg-4 {
    font-size:x-small;
    color:black;
    height: 60px;
    overflow:hidden;
    text-overflow:ellipsis;
   
}

.chat-label {
    
    margin-top: 3px;
    
    
    color:#7db121;
}

.page-link {
    color:#7db121;
}


.btn-warning {
    background-color: #7db121;
    border-color: #7db121;
    color:white;
}

.btn-warning:hover {
    background-color: #98d82a;
    border-color: #7db121;
    color:white;
}

.btn-warning:focus {
    background-color: #98d82a;
    border-color: #7db121;
    box-shadow: #deb666;
    color:white;
}

.btn-warning:active {
    background-color: #98d82a;
    border-color: #7db121;
    box-shadow: #deb666;
    color:white;
}

.date-updated-card-1 {
    display:none;
}

.date-updated-card-2 {
    display:none;
}

.date-updated-card-3 {
    display:none;
}

.breadcrumb-item.active {
    color:#7db121
}

.carousel-caption h6 {
    color: white;
    font-size: 20px;
}

.text-muted-card-1 {
    font-size:xx-small;
}

.text-muted-card-2 {
    font-size:xx-small;
}

.text-muted-card-3 {
    font-size:xx-small;
}

.map {
    position: inherit;
}

.container-merch {
    width:fit-content;
}
